<div class="share-page">
    Compartir en:
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ page.description }}&#10145;&url={{ post.url | prepend: site.baseurl | prepend: site.url }}&via={{ site.harmony.social.twitter }}&related={{ site.harmony.social.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
    <div class="fb-share-button" data-href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" data-layout="button">Facebook</div>
    <div class="g-plus" data-action="share" data-annotation="none" data-href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">Google +</div>
</div>